* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

a {
    text-decoration: none;
}

.transition {
    transition: 0.5s;
}

#aside{
    height: 729px;
    width: 15%;
    float: left;
    text-align: center;
    background-color: black;
    border-right: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: inset -1px 0px 2px 0px rgba(211, 211, 211, 0.75);
}

.img {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.img img {
    width: 40%;
    height: auto;
    transform: rotate(30deg);
}

.img_s {
    width: 60%;
    height: auto;
}

.aside_titles {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
    color: white;
    height: 60px;
    width: 70%;
    border-bottom: 2px solid white;
}

.aside_titles:hover {
    cursor: default;
}

.titles {
    display: inline-block;
    letter-spacing: 5px;
    font-size: 1.1em;
    font-family: 'Prompt', sans-serif;
}

#skills {
    width:85%;
    height: 729px;
    float: right;
    background-color: black;
    display: none;
}

.info {
    margin: 50px auto 0;
    width: 450px;
    height: 100px;
    text-align: center;
}

.info h1 {
    letter-spacing: 1px;
    color: white;
    font-family: 'Prompt', sans-serif;
}

#add_smth {
    float: right;
    margin-top: -120px;
    margin-right: 30px;
    width: 130px;
    height: 50px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    background-color: black;
    border-bottom-right-radius: 7px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 0.6%;
}

#add_smth a {
    font-family: 'Prompt', sans-serif;
    font-size: 1.4em;
    color: #8E8E8E;

}

#add_smth a:hover {
    color: white;
    transition: 1s;
}

/*Стили для области отображения навыков*/

#kill_zone {
    width: 85%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
}

.skill_block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 216px;
    height: 100px;
    margin-left: 90px;
    margin-top: 30px;
    border-left: 3px solid white;
    border-top: 3px solid white;
    border-top-left-radius: 5px;
    background-color: black;
    text-align: center;
    box-sizing: border-box;
    float: left;
}

.skill_block:hover {
    border: 2px solid white;
}

.skill_block h2 {
    margin-top: 20px;
    font-weight: normal;
    font-size: 2em;
    font-family: 'Prompt', sans-serif;
    color: whitesmoke;
}

/*Стили для задач*/
#goals {
    width:85%;
    height: 729px;
    float: right;
    background-color: black;
    display: none;


}



